DataStore.Client/Connected Services/FileStoreService/FileStoreService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataStore.Server.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataStore.Server.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterRequestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterRequestModel" nillable="true" type="tns:RegisterRequestModel" />
  <xs:complexType name="RegisterResponseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterResponseModel" nillable="true" type="tns:RegisterResponseModel" />
</xs:schema>